.DS_Store
Thumbs.db
*.log
*.out
*.tmp
*.swp
*.swo
*.bak
*.cache
*.lock
*.pyc
*.pyo
__pycache__/
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.synctex.gz
*.toc
*.out
*.lot
*.lof
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
tutorial.*
main.pdf
SI.pdf
*.ilg
mainNotes.bib